<teacher-header></teacher-header>

<div class="home-container">
    <section class="intro">
        <h1>Gestión de Maestros</h1>
        <p>Bienvenido al sistema de gestión de Maestros. Aquí podrás administrar toda la información relacionada con tus docentes.</p>
    </section>

    <section class="features">
        <div class="feature">
            <h2>Registro de Meaestros</h2>
            <p>Agrega nuevos docentes al sistema y mantén su información actualizada.</p>
        </div>
        <div class="feature">
            <h2>Consulta de Información</h2>
            <p>Accede a la información detallada de cada docente de manera rápida y sencilla.</p>
        </div>
    </section>
</div>

<app-footer></app-footer>